# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

 ### Objectives:
 * List of popular languages
 * Libraries used by Data Scientists
 * Data Science Tools
 * Basic Arithmethic

Some of the popular languages that Data Scientists use are:
1. Python
2. R Studio
3. SQL
4. Java
5. C/C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-Learn

| Data Science Tools |
| -------------------|
| R Studio |
| Weka | 
| KNIME |

### Below are few examples of evaluating arithmethic expressions in Python.

In [4]:
# This a simple arithmethic expression to multiply then add integers

(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by diving 60

(200 // 60)

3

## Author
Jose Quezada